<% if current_user %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/login.json.jbuilder",
            user: current_user
            ).html_safe%>
    </script>
<% end %>

<div id="root">
This means something broke.
</div>