.profile-nav {
    /* background: rgb(146, 30, 30); */
    background-image: linear-gradient(rgb(146, 30, 30),rgb(114, 23, 23));
    border-bottom: 1px solid rgb(70, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.profile-navbar {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    color: white;
    height: 44px;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    align-items: center;
}

/* .profile-navbar form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.profile-icon img {
    width: 20px;
    margin-top: 5px;
    padding: 0px 3.25px;
    margin-bottom: -5px;
}

.profile-icon {
    background-color: white;
    border-radius: 3px;
}

.profile-search form {
    display: flex;
    height: 28px;
}


.profile-search input[type="text"] {
    background-color: white;
    border-top: 1px rgb(70, 0, 0) solid;
    border-bottom: 1px rgb(70, 0, 0) solid;
    border-left: 1px rgb(70, 0, 0) solid;
    width: 400px;
    border-radius: 2px;
    font-size: 14px;
    margin-left: -136px;
    padding: 0px 0px 2px 5px;
}

.profile-search button {
    color: rgb(136, 54, 54);
    background-color: rgb(219, 219, 219);
    border-top: 1px rgb(70, 0, 0) solid;
    border-bottom: 1px rgb(70, 0, 0) solid;
    border-right: 1px rgb(70, 0, 0) solid;
    border-radius: 2px;
    padding: 1px 17px;
    font-size: 14px;
    margin-left: -2px;
}

.profile-search button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.profile-nav nav {
    display: flex;
}

.profile-icon a:hover {
    cursor: pointer;
}

.profile-nav-links {
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.profile-nav-links div {
    height: 20px;
    margin-top: 5px;
    border-right: 1px solid rgb(98, 0, 0);
}

.profile-nav-links a {
    padding: 4px 14px;
}

.profile-nav-links a:hover {
    cursor: pointer;
    background-color: rgb(119, 15, 15);
    border-radius: 2px;
}

.profile-nav-icons {
    border-right: 1px solid rgb(98, 0, 0);
    padding-right: 3px;
    padding-left: 3px;
    height: 20px;
}

.profile-nav-icons,
.profile-nav-help {
    color: rgb(70, 0, 0);
    font-size: 21px;
    font-weight: bold;
    margin-top: 3px;
}

.profile-nav-icons i,
.profile-nav-help i {
    padding: 0px 7px;
}

.profile-nav-help {
    margin-left: 5px;
    position: relative;
}

.profile-nav-icons i:hover,
.profile-nav-help i:hover {
    color: rgb(37, 1, 1);
    cursor: pointer;
}

.profile-nav-help i:focus,
.profile-nav-icons i:focus {
    color: white;
}

/* .clicked {
    color: rgb(255, 255, 255);
} */

/* edit this later if dropdowns ever come in. it'll become a toggled class rather than a pseudoselector. */

/* .clicked:hover,
.clicked:hover {
    color: rgb(255, 255, 255);
} */

.profile-nav-dropdown {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 240px;
    background-color: white;
    border-radius: 1px;
    border: 0.5px rgb(245, 216, 216) solid;
    box-shadow: -0.5px 0px 10px rgb(83, 83, 83);
    font-size: 12px;
    padding: 10px 0px;
    left: -170px;
    top: 35px;
}

.arrow-top {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 203px;
}

.visible {
    visibility: visible;
}

.profile-nav-logout {
    padding: 3px 184.1px 3px 10px;
}

.profile-nav-logout:hover {
    cursor: pointer;
    background-color: rgb(136, 54, 54);
    color: white;
    border-radius: 1px;
}