.newsfeed-content {
    display: flex;
    font-family: Helvetica;
    justify-content: flex-start;
    width: 1000px;
    margin: 15px auto;
}

.newsfeed-aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.newsfeed-aside section {
    font-size: 12px;
}

.newsfeed-aside-links {
    padding: 5px 10px;
    margin-bottom: 1px;
}

.newsfeed-aside-links a {
    display: flex;
    align-items: center;
}

.newsfeed-aside section i {
    font-size: 20px;
    width: 15px;
}

.newsfeed-aside section:hover {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 2px;
    padding: 4px 9px;
    cursor: pointer;
    background-color: rgb(255, 245, 245);
}

.newsfeed-aside-links span {
    color: black;
    display: inline-block;
    padding-left: 12px;
}

.newsfeed-main {
    width: 501px;
}

.empty {
    flex: 1.5;
}

.newsfeed-aside-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.newsfeed-aside-top .post-picture {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 5px;
}

.newsfeed-aside-top .post-picture img {
    margin-left: -20%;
}

.newsfeed-aside-top span, p {
    font-size: 12px;
    font-weight: 400;
}

.newsfeed-aside {
    position: sticky;
    top: 57px;
    height: 100%;
}

.newsfeed-email p {
    display: none;
}

.newsfeed-email:hover p {
    display: inline-block;
    font-size: 12px;
    margin-left: 12px;
}

.newsfeed-email:hover span {
    display: none;
}

.newsfeed-email {
    display: flex;
    align-items: center;

}