.profile {
    background-color: rgb(255, 235, 235);
    padding: 1px 0 0 0;
    min-height: 150vh;
    margin: 41px auto 0 auto;
}

.profile-content {
    width: 850px;
    margin: 0 auto;
    font-family: Helvetica;
}

.profile-picture-area {
    position: relative;
    height: 312px;
}

.profile-cover-picture {
    height: 312px;
    width: 100%;
    border-left: 1px solid rgb(200, 200, 200);
    overflow: hidden;
    position: relative;
}

.profile-cover-picture img {
    width: 100%;
}

.profile-cover-picture-update {
    position: absolute;
    display: none;
    top: 28px;
    left: 20px;
    border: 1.5px solid white;
    background-color: black;
    opacity: 0.7;
    box-shadow: 1px 1px 2px black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 2px;
}

.profile-cover-picture-update:hover {
    cursor: pointer;
}

.profile-cover-picture-update i {
    margin-right: 10px;
    font-size: 14px;
}

.profile-picture-blur:hover + .profile-cover-picture .profile-cover-picture-update,
.profile-cover-picture-update:hover {
    display: block;
    z-index: 2;

}

.profile-main-picture {
    height: 156px;
    width: 156px;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    margin-top: -135px;
    margin-left: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    padding: 3px 3px 5px 3px;
    overflow: hidden;
}

.profile-main-picture div {
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
}

.profile-main-picture img {
    height: 100%;
    margin: auto;
}

.profile-main-picture section {
    overflow: hidden;
    position: relative;
}

.profile-main-picture-update {
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.8;
    box-shadow: 1px 1px 2px black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 30px 100px 40px 100px;
    border-radius: 2px;
    top: 70px;
    left: -37px;
}

.profile-main-picture:hover .profile-main-picture-update {
    display: block;
}

.profile-main-picture-update:hover {
    cursor: pointer;
}

.profile-btn {
    border-radius: 2px;
    background-color: white;
    border: 1px solid rgb(109, 64, 100);
    color: rgb(117, 0, 0);
    position: absolute;
    padding: 6px 0px;
    width: 140px;
    font-size: 12px;
    font-weight: 800;
    z-index: 2;
    top: 269px;
}

.profile-btn:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.profile-btn-friend {
    left: 685px;
}

.profile-btn-info {
    left: 573px;
    width: 100px;
}

.profile-name {
    color: white;
    text-shadow: 0.5px 0.5px 1px rgb(117, 0, 0);
    font-size: 24px;
    position: absolute;
    top: 270px;
    left: 200px;
    z-index: 2;
}

.profile-picture-blur {
    opacity: 0.3;
    height: 312px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(white,rgb(0, 0, 0));
    z-index: 1;
}