.splash {
    background-color: rgb(255, 235, 235);
    min-height: 560px;
}

.splash-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    font-family: Open Sans;
}

.splash a:default,
.splash a:visited {
    color: rgb(224, 96, 96);
}

.splash a:hover {
    text-decoration: underline;
}

/* /////////////////////////////////////////////////////////////////// */

/* CSS for the aside */

.splash aside {
    margin: 60px 0px 0px 0px;
    flex: 5;
}

.splash aside h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 18px;
    line-height: 1.5;
    width: 87%;
}

.splash li {
    padding: 20px 0px;
    color: rgb(116, 116, 116);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.splash aside i {
    font-size: 40px;
    color: rgb(224, 96, 96)
}

.splash aside li strong {
    font-weight: 600;
    color: black;
    font-size: 17px;
    margin-left: 25px;
}

/* /////////////////////////////////////////////////////////////////// */

/* CSS for the signup form */

.splash-section {
    flex: 3.5;
}

.splash-section {
    margin-left: 5px;
    margin-top: 15px;
}

.splash-section h1 {
    font-size: 36px;
    font-weight: 600;
}

.signup-quip {
    font-size: 18px;
    font-weight: 1;
}

/* /////////////////////////////////////////////////////////////////// */

/* CSS for the NAME PORTION of the signup form */

.signup-name {
    width: 44%;
    display: inline-block;
    position: relative;
}

.signup-name:last-of-type {
    margin-left: 30px
}

.signup-main {
    width: 95.45%
}

.signup-name input {
    width: 100%;
}


.splash form {
    margin-top: 18px;
    width: 100%;
}

.signup-email-password {
    position: relative;
}

.text-input {
    padding: 6px 5px 6px 10px;
    font-size: 18px;
    border: 1px solid rgb(224, 96, 96);
    border-radius: 3px;
    background-color: white;
    margin: 5px 0px;
}

.text-input + div {
    visibility: hidden;
    position: absolute;
    background-color: rgb(168, 110, 158);
    border: rgb(117, 81, 111) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(218, 186, 186);
    z-index: 2;
    width: 115px;
    left: -157px;
    top: 2px;
    padding: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 2px;
}

.text-input.touched:not(:focus):invalid {
    border: 1px solid rgb(70, 0, 0);
}

.text-input.touched:focus:invalid {
    border: 1px solid rgb(224, 96, 96);
}

.text-input.check:focus:invalid ~ div {
    visibility: visible;
}

.error-arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(168, 110, 158);
    position: absolute;
    z-index: 2;
    left: 135px;
    top: 8px;
}

.error-arrow-shadow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(70, 0, 0);
    left: 140.1px;
    top: 13px;
    z-index: 1;
}

#email-invalid {
    top: -8px;
    left: -350px;
    width: 310px;
    text-align: left;
}

#email-invalid .error-arrow-right {
    left: 330px;
    top: 4px;
}

#email-invalid .error-arrow-shadow {
    left: 335px;
    top: 10px;
}

#password-invalid {
    top: -12px;
    left: -330px;
    width: 290px;
    text-align: left;
}

#password-invalid .error-arrow-right {
    left: 310px;
    top: 6px;
}

#password-invalid .error-arrow-shadow {
    left: 315px;
    top: 12.5px;
}

.signup-name i, .signup-email-password i, .custom-gender-content i {
    visibility: hidden;
    position: absolute;
    color: rgb(168, 110, 158);
    z-index: 1;
    font-size: 22px;
}

.text-input.touched:not(:focus):invalid ~ i {
    visibility: visible;
}

.signup-name i {
    top: 27%;
    left: 93%;
}

.signup-email-password i {
    top: -0.5px;
    left: 93%;
}

.splash-section h3 {
    color: rgb(116, 116, 116);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

/* /////////////////////////////////////////////////////////////////// */

/* CSS for the BIRTHDAY AND GENDER PORTION of the signup form */

.splash-section .birthday, .gender-form {
    margin: 15px 0px 0px 0px;
}

.gender-form h3 {
    padding-bottom: 10px;
}

.splash-section .birthday select {
    background-color: white;
    margin-right: 0px;
    font-family: Helvetica;
    padding: 7px 15px 7px 7px;
    font-size: 12px;
    border: 1px solid rgb(224, 96, 96);
}

.signup-question {
    margin-left: 12px;
}

.signup-question {
    color: rgb(224, 96, 96);
    font-size: 16px;
}

.gender-form .signup-question {
    margin-left: 24px;
}

.signup-question-container {
    display: inline;
    position: relative;
}

.signup-question + .signup-question-text {
    visibility: hidden;
    position: absolute;
    background-color: white;
    border: rgb(116, 116, 116);
    z-index: 1;
    width: 300px;
    left: -323px;
    top: -15px;
    padding: 10px;
    font-size: 12px;
    border: 0.5px rgb(245, 216, 216) solid;
    border-radius: 2px;
    box-shadow: -0.5px 0px 10px rgb(218, 186, 186);
    opacity: 0;
    transition-property: visibility opacity;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.signup-question-container:hover .signup-question-text,
.signup-question-text:hover {
    visibility: visible;
    opacity: 1;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    z-index: 1;
    left: 312px;
}

.signup-question-text strong {
    font-weight: 600;
    color: inherit;
}

.signup-question-text p {
    padding-bottom: 22px;
    border-bottom: 1px rgb(214, 214, 214) solid;
}

.signup-question-text button {
    color: white;
    border: 1px rgb(70, 0, 0) solid;
    background-color: rgb(189, 62, 62);
    font-size: 12px;
    padding: 4px 8px;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.25px;
    position: relative;
    left: 250px;
    border-radius: 2px;
}

.signup-question-text button:hover {
    background-color: rgb(114, 23, 23);
    cursor: pointer;
}

.signup-question:hover{
    cursor: pointer;
}

#gender-question {
    margin-left: 10px
}

.gender-form {
    margin-top: 15px;
}

.splash-section .gender-form label {
    padding-right: 18px;
    font-size: 18px;
    padding: 5px;
}

.gender-form label span {
    margin-left: 6px;
}

.gender-form .signup-question-text {
    width: 280px;
    left: -305px;
}

.gender-form .arrow-right {
    left: 292px;
}

.gender-form button {
    left: 232px;
}

.splash-section .gender-form input[type=radio] {
    vertical-align: text-top;
    margin-top: 2px;
    margin-left: 6px;
}

.custom-gender-content {
    margin-top: 15px;
    display: none; 
    position: relative;
}

.custom-gender-select {
    background-color: white;
    margin-right: 0.2px;
    font-family: Helvetica;
    padding: 8px 8px 8px 3px;
    font-size: 12px;
    border: 1px solid rgb(224, 96, 96);
    width: 99.5%;
}

.custom-gender-content p {
    color: rgb(87, 86, 86);
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 6px;
}


.custom-gender-content input {
    width: 95.5%;
    margin-bottom: -30px;
}

#gender-invalid {
    visibility: hidden;
    position: absolute;
    background-color: rgb(168, 110, 158);
    border: rgb(117, 81, 111) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(218, 186, 186);
    z-index: 2;
    width: 150px;
    left: -177px;
    top: -5px;
    padding: 10px 5px;
    font-size: 11px;
    color: white;
    text-align: center;
}

#gender-invalid .error-arrow-right {
    left: 155px;
    top: 6.5px;
}

#gender-invalid .error-arrow-shadow {
    left: 160.9px;
    top: 12px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid rgb(70, 0, 0);
}

.custom-gender-select + i {
    visibility: hidden;
    position: absolute;
    color: rgb(168, 110, 158);
    z-index: 1;
    font-size: 20px;
    left: 90%;
    top: 4px;
}


.custom-gender-select.check:focus ~ #gender-invalid {
    visibility: visible;
}

.custom-gender-select.touched:not(:focus) + i {
    visibility: visible;
}

.custom-gender-select.touched:focus {
    border: 1px solid rgb(224, 96, 96);
}

.custom-gender-select.touched:not(:focus) {
    border: 1px solid rgb(70, 0, 0);
}

.display-block {
    display: block;
}

.gender-form label.touched {
    border: 1px solid rgb(70, 0, 0);
    border-radius: 2px;
}

#gender-error {
    position: relative;
}

#gender-error i {
    visibility: hidden;
    position: absolute;
    color: rgb(168, 110, 158);
    z-index: 1;
    font-size: 22px;
    left: 380px;
    top: 4px;
}

#gender-error.touched i {
    visibility: visible;
}


/* /////////////////////////////////////////////////////////////////// */

/* CSS for the DISCLAIMER PORTION of the signup form */

#disclaimer {
    font-size: 10px;
    color: rgb(116, 116, 116);
    display: inline-block;
    width: 85%;
    margin-top: 10px;
}

.signup-submit-btn {
    margin: 20px 0px 10px 0px;
    color: white;
    padding: 8px 65px;
    background-image: linear-gradient(rgb(168, 110, 158),rgb(109, 64, 100));
    border-radius: 4px;
    font-size: 17.5px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px rgb(31, 19, 29);
    border: rgb(31, 19, 29) 1px solid;
    box-sizing: border-box;
    box-shadow: 0px 0.5px 1px inset rgb(243, 206, 206) ;
}

.signup-submit-btn:hover {
    background-image: linear-gradient(rgb(187, 125, 176),rgb(109, 64, 100));
    cursor: pointer;
}

/* .validate {
    border: 2px rgb(240, 29, 197) solid;
} */

/* input[type="text"]:valid {
    border: border: 1px solid rgb(224, 96, 96);
} */

.demo {
    color: white;
    padding: 8px 47.5px;
    background-image: linear-gradient( rgb(224, 96, 96), rgb(139, 59, 59));
    border-radius: 4px;
    font-size: 17.5px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px rgb(31, 19, 29);
    border: rgb(31, 19, 29) 1px solid;
    box-sizing: border-box;
    box-shadow: 0px 0.5px 1px inset rgb(233, 158, 158);
    margin-bottom: 50px;
}

.demo:hover {
    background-image: linear-gradient( rgb(230, 130, 130), rgb(139, 59, 59));
    cursor: pointer;
}

/* CSS for the (?) ICONS CLOSE BUTTON of the signup form */

.close {
    display: none;
}


/* /////////////////////////////////////////////// */

/* footer CSS */

.footer {
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
     color: rgb(224, 96, 96);
    padding: 18px 0px;
    border-bottom: 1px solid rgb(195, 195, 195);
    width: 1000px;
    margin: 0 auto;
}

.citation {
    font-family: Helvetica;
    font-size: 10px;
    text-align: center;
     color: rgb(126, 126, 126);
    padding: 12px 0px;
    width: 1000px;
    margin: 0 auto;
}

