.splash {
    background-color: rgb(255, 235, 235);
    height: 560px;
}

.splash-content {
    width: 880px;
    margin: 0 auto;
    display: flex;
    font-family: Open Sans;
    height: 900px;
}

/* CSS for the aside */

.splash aside {
    margin: 50px 0px 0px 0px;
    flex: 5;
}

.splash aside h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
}

.splash li {
    padding: 20px 0px;
    color: rgb(116, 116, 116);
    font-size: 13px;
    display: flex;
    align-items: center;
}

.splash aside a:default, .splash aside a:visited  {
   color: rgb(224, 96, 96); 
}

.splash aside i {
    font-size: 35px;
    color: rgb(224, 96, 96)
}

.splash aside li strong {
    font-weight: 600;
    color: black;
    font-size: 15px;
    margin-left: 20px;
}

/* CSS for the signup form */

.splash-section {
    /* margin: 30px; */
    flex: 3.2;
}

.splash-section {
    margin-left: 5px;
    margin-top: 15px;
}

.splash-section h1 {
    font-size: 33px;
    font-weight: 600;
}

.splash-section p:first-of-type {
    font-size: 16px;
    font-weight: 1;
}

.signup-name {
    width: 44%;
    display: inline-block;
}

.signup-name:last-of-type {
    margin-left: 25px
}

.signup-main {
    width: 95.45%
}

.signup-name input {
    width: 100%;
}


.splash form {
    margin-top: 20px;
    width: 100%;
}

.splash form input[type="text"],
.splash form input[type="password"] {
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    border: 1px solid rgb(224, 96, 96);
    border-radius: 5px;
    background-color: white;
    margin: 5px 0px;
}

.splash-section h3 {
    color: rgb(116, 116, 116);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

.splash-section .birthday, .gender-form {
    margin: 10px 0px;
}

.gender-form h3 {
    padding-bottom: 10px;
}

.splash-section .birthday select {
    background-color: white;
    margin-right: 0.3px;
    font-family: Helvetica;
    padding: 4px 8px;
    font-size: 11px;
    border: 1px solid rgb(224, 96, 96);
}

.birthday-question {
    margin-left: 10px;
}

.birthday-question,
.gender-question {
    color: rgb(224, 96, 96);
    font-size: 14px;
}

.splash-section .gender-form label {
    margin-right: 18px;
    font-size: 16px;
}

.gender-form span {
    margin-left: 4px;
}

.splash-section .gender-form input[type=radio] {
    -webkit-transform: scale(0.85);
    vertical-align: text-top;
    margin-top: 2px;
    margin-left: 5px;
}

#disclaimer {
    font-size: 9px;
    color: rgb(116, 116, 116);
    display: inline-block;
    width: 80%;
}

#disclaimer a:default,
#disclaimer a:visited {
    color: rgb(224, 96, 96);
}

#disclaimer a:hover {
    text-decoration: underline;
}

.splash-section input[type=submit] {
    margin: 20px 0px;
    color: white;
    padding: 6px 60px;
    background-image: linear-gradient(rgb(134, 85, 125),rgb(109, 64, 100));
    border-radius: 4px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px rgb(31, 19, 29);
    border: rgb(31, 19, 29) 1px solid;
    box-sizing: border-box;
}

.splash-section input[type=submit]:hover {
    background-image: linear-gradient(rgb(163, 109, 153),rgb(109, 64, 100));
    cursor: pointer;
}

/* .validate {
    border: 2px rgb(240, 29, 197) solid;
} */

/* input[type="text"]:valid {
    border: border: 1px solid rgb(224, 96, 96);
} */

.demo {
    color: white;
    padding: 6px 45px;
    background-image: linear-gradient( rgb(224, 96, 96), rgb(139, 59, 59));
    border-radius: 4px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px rgb(31, 19, 29);
    border: rgb(31, 19, 29) 1px solid;
    box-sizing: border-box;
}

.demo:hover {
    background-image: linear-gradient( rgb(248, 104, 104), rgb(139, 59, 59));
    cursor: pointer;
}