.splash-recover-container {
    background-color: white;
    border:  rgb(224, 96, 96) 1px solid;
    padding: 30px 20px;
    margin: 90px auto 40px auto;
    width: 600px;
    height: 130px;
    box-sizing: border-box;
    font-family: Helvetica;
    position: relative;
}

.splash-recover-container h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(114, 114, 114);
    position: relative;
}

.splash-recover-form {
    margin-left: 100px;
    margin-top: 10px !important;
}

.recover-input-container {
    position: relative;
    font-size: 12px;
}

.recover-input {
    margin-top: 5px;
    border-radius: 1px;
    font-size: inherit;
    width: 40%;
    padding: 3px;
    display: block;
}

.recover-btns {
    background-color: rgb(255, 214, 214);
    border:  1px  rgb(224, 96, 96) solid;
    display: flex;
    width: 598px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: 125px;

}

.recover-input-btn-1,
.recover-input-btn-2 {
    margin: 0 auto;
    font-size: 12px;
    display: block;
    border-radius: 2px;
    text-shadow: none;
    box-shadow: none; 
    padding: 5px;
    position: absolute;
    z-index: 2;
    
}

.recover-input-btn-1 {
    top: 133px;
    left: 480px;
}

.recover-input-btn-2 {
    top: 133px;
    left: 535px;
    background-image: none;
    background-color: rgb(219, 219, 219);
    color: rgb(224, 96, 96);
}

.recover-input-btn-2:hover {
    background-color: rgb(143, 143, 143);

}

/* ////////////////////////////// */

.splash-nopassword-container {
    background-color: white;
    border:  rgb(224, 96, 96) 1px solid;
    padding: 30px 20px;
    margin: 90px auto 40px auto;
    width: 600px;
    height: 130px;
    box-sizing: border-box;
    font-family: Helvetica;
    position: relative;
}

.splash-nopassword-container h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(114, 114, 114);
    position: relative;
}

.splash-nopassword-form {
    margin-left: 100px;
    margin-top: 10px !important;
}

.nopassword-input-container {
    position: relative;
    font-size: 12px;
}

.nopassword-input {
    margin-top: 5px;
    border-radius: 1px;
    font-size: inherit;
    width: 40%;
    padding: 3px;
    display: block;
}

.nopassword-btns {
    background-color: rgb(255, 214, 214);
    border:  1px  rgb(224, 96, 96) solid;
    display: flex;
    width: 598px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: 125px;

}

.nopassword-input-btn-1,
.nopassword-input-btn-2 {
    margin: 0 auto;
    font-size: 12px;
    display: block;
    border-radius: 2px;
    text-shadow: none;
    box-shadow: none; 
    padding: 5px;
    position: absolute;
    z-index: 2;
    
}

.nopassword-input-btn-1 {
    top: 133px;
    left: 480px;
}

.nopassword-input-btn-2 {
    top: 133px;
    left: 535px;
    background-image: none;
    background-color: rgb(219, 219, 219);
    color: rgb(224, 96, 96);
}

.nopassword-input-btn-2:hover {
    background-color: rgb(143, 143, 143);

}